<h1>Type in your new task</h1>
<%= render 'form' %>

<!-- <form action="tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">
  <input type="submit">
</form> -->
